<% provide :title, t(".sample_app") %>
<%= link_to t(".en"), locale: "en" %>
<%= link_to t(".vi"), locale: "vi" %>
<h1><%= t(".sample_app") %></h1>
<p>
  <%= t(".tutorial") %> <%= link_to t(".ruby_on_rails_tutorial"), Settings.home %>
</p>
