<footer class="footer">
  <small>
    <%= link_to t(".the_ruby_on_rails_tutorial"), Settings.link_rails_tut %>
    <%= t(".by") %><%= link_to t(".michael_hart"), Settings.michaelhartl %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".new"), Settings.news %></li>
    </ul>
  </nav>
</footer>
